html, body {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: fantasy;
    background-image: url(/images/forest.jpg) ;
    background-size: cover;
    
}

.main-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ddd9d931;
    width: 100%;
}


h1 {
    margin: 0;
    font-size: 3rem;
    color: #e6dfdfbd;
}