html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: fantasy;
    background-image: url(/images/forest.jpg) ;
    background-size: cover;
    
}

.container {
    text-align: center;
    background-color: #ddd9d931;
    width: 40rem;
    padding: 4rem;
    border-radius: 1rem;
    
}


h1 {
    margin: 0;
    font-size: 3rem;
    color: #e6dfdfbd;
}

.btn-order {
    display: flex;
    justify-content: space-around;
}

.btn {
    background-color: #ffffff9f;
    border-radius: 1rem 1rem;
    padding: 1rem 3rem;
    border: 0rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}